@model UdemyAspNetCore.Models.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Update Customer</h3>
<form asp-action="UpdateCustomer" asp-controller="Home" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label>Customer First Name:</label>
        <input asp-for="@Model.FirstName" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Customer Last Name:</label>
        <input asp-for="@Model.LastName" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Customer Age:</label>
        <input asp-for="@Model.Age" type="text" class="form-control" />
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
