@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model UdemyAspNetCore.Models.Customer

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Update Customer</title>
    <link href="~/style.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3>Update Customer</h3>
        <form asp-action="UpdateCustomer" asp-controller="Home" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label>Customer First Name:</label>
                <input asp-for="@Model.FirstName" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Customer Last Name:</label>
                <input asp-for="@Model.LastName" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Customer Age:</label>
                <input asp-for="@Model.Age" type="text" class="form-control" />
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>

</body>
</html>